@using DynTech.IdentityServer.Models.ClientViewModels
@model ClientsViewModel
@{
    ViewData["Title"] = "Client List";
}

@await Html.PartialAsync("_BreadcrumbPartial")
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="grants">
            <div class="row page-header">
                <div class="col-sm-10">
                    <h1>
                        Client List
                    </h1>
                    <div>
                        <a asp-area="" asp-controller="Clients" asp-action="Detail" asp-route-id="-">New Client</a>
                    </div>
                </div>
            </div>
            @if (Model.Clients.Any() == false)
            {
                <div class="row">
                    <div class="col-sm-8">
                        <div class="alert alert-info">
                            No clients registered
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row grant">
                    <div class="col-sm-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Client Name</th>
                                    <th scope="col">Allowed Grant Type</th>
                                    <th scope="col">Redirect Uris</th>
                                    <th scope="col">Post Logout Redirect Uris</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var client in Model.Clients)
                            {
                                int index = 1;
                                <tr>
                                    <th scope="row">@index</th>
                                    <td><a asp-area="" asp-controller="Clients" asp-action="Detail" asp-route-id="@client.ClientId">
                                            @client.ClientName</a></td>
                                    <td>@client.AllowedGrantType</td>
                                    <td>@string.Join(",", client.RedirectUris)</td>
                                    <td>@string.Join(",", client.PostLogoutRedirectUris)</td>
                                </tr>
                                index++;
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
            }
        </div>
    </div>
</div>